.cache
.classpath
.project
.refactorings
.settings
/dist
/build
/nbproject
/bin
example/local-example/*
/project/project/target
/project/target
/target
src/test/java/test/blog/TestLocalExample.java
/tools/testing/output
/tools/testing/output_incorrect
*.aux
*.log
*.gz
