<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
  
  <meta charset="utf-8">
  <title>Bayesian Logic BLOG Interactive Console</title>

  
  
  <link rel="stylesheet" type="text/css" href="static/codemirror.css">

  
  <link rel="stylesheet" type="text/css" href="static/css/index.css">

</head><body>
$def with (example_blog_code)
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/codemirror.js"></script>
<script type="text/javascript" src="/static/blog/blog.js"></script>
<p><img src="/static/images/BerkeleyLogo.png" alt="BerkelyLogo" align="middle"> Presented by University of California, Berkeley,
Professor Stuart
Russell's Research Group. <a href="http://bayesianlogic.cs.berkeley.edu">BLOG main page.</a><br>
 </p>

<h1> The BLOG Language Web Engine </h1>

<form class="form" method="post"> <textarea id="textfield" name="code">$(example_blog_code)</textarea>
  <input class="button" value="Submit" type="submit"> </form>

<p> BLOG interactive console is currently maintain by <a href="http://www.cs.cmu.edu/~leili/">Lei Li</a> (leili AT [standard berkeley cs suffix]) <br>
It is currently hosted on a desktop computer for demonstration purpose. <br>
Graph of the submitted BLOG model will be display in the
soon future. </p>

<h3> Your submission result (It might takes up to 30 secs): </h3>

</body></html>